//foundation variables
//$tabbar-bg: color(red);

$header-height:75px;
$header-col1-width: 2.5 !default;
$header-col2-width: 9.5 !default;
$tabbar-height: rem-calc(45) !default;
$rem-base: 16px;
$border-radius-base: 0px;
$nav-tabs-active-link-hover-color: color(black);
$table-row-height: 60px;
$document-paginator-height: 60px;
